/*
*****************************
FORMATAÇÃO LAYOUTS FIXOS
*/

/*Formatação padrão para o body.*/
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

/*Formatação da div container, como altura margem e fundo.*/
#container{
	width: 720px;
	margin: 0 auto;
	background: #fff;
}

/*Formatação da div marca, altura, alinhamento e fundo.*/
#marca{
	height: 100px;
	background: #9E9E9E;
	text-align: center;
	line-height: 100px;
}

/*Formatação da div conteudo, largura e flutuando a direita.*/
#conteudo{
	width: 520px;
	float: right;
}

/*Formatação para a div conteudo principal.*/
#conteudo-principal{
	width: 320px;
	float: left;
}

/*Formatação para a div conteudo secundario.*/
#conteudo-secundario{
	width: 180px;
	float: right;
	background: #d1d1d1;
}

/*Formatação para todos os elementos de conteudo secundario aplicando padding.*/
#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
}

/*Formatação da div navegação largura, flutuando a direita padding e fundo.*/
#navegacao{
	width: 180px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #d1d1d1;
}

#navegacao ul{/*Formatação da ul de navegação.*/
	list-style: none;
}

#navegacao li a{/*Formatação do link da li de navegação.*/
	text-decoration: none;
}

/*Formatação da div rodapé limpando o fluxo de elementos flutuantes e aplicando fundo e padding.*/
#rodape{
	clear: both;
	background: #c4c4c4;
	padding:5px;
}



