.conteudo{
	background: #9A2EFE;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
}

.conteudo1{
	background: #58FAF4;
	border: 1px solid gray;
	width: 150px;
	height: 150px;
	/*A propriedade float faz com o que o elemento saia do seu patamar padrão e passe para um patamar chamado flutuante onde ele fica
	em uma camada acima dos demais como se estivesse flutuando sobre eles, podendo inclusive sobrepor outros elementos. podemos utilizar 
	os valores left e right para posicionar o elemento*/
	float: left;
}

.todos-flutuando{
	background: #819FF7;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	margin: 10px;
	float: left;
}

#principal{
	background: #CEF6CE;
	border: 5px solid red;
}

.clear{
	/*Podemos utilizar a propriedade clear para limpar o fluxo flutuante assim o seu conteúdo não fica sobreposto ao elemento
	no qual a propriedade clear é aplicada, podemos utlizar:
	left para limpar elementos flutuando à esquerda.
	pode limpar para a direita com right.
	 both em ambas as  direções*/
	clear: left;
}
